/* You can add global styles to this file, and also import other style files */

/* @import "/node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
 */
/* @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss"; */

html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
}